<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  
  <body>
    
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    
    <p>Bienvenu à toi, Oh Mousaillon.</p>
    <p>Tu cherches la liste de tous nos potins ? ne perds pas patience.. En attendant crées un nouveau potin :</p>
    <!--Sinatra est malin et comprendra qu'il faut renvoyer via l'URL complète avec le bon port-->
    <a href="/gossips/new/">Partager un Gossip</a>

    <% gossips.each do |gossip| %> <!-- Voilà l équivalent de #{} dans les fichiers .erb pour éxecuter du ruby au sein html -->
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %> <!-- équivalent du puts -->
      </p>
    <% end %>
  
  </body>
</html>