<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    
    <% 6.times do %><br/><% end %>

    <center><h1>What is your Gossip?</h1></center>
    
    <% 2.times do %><br/><% end %>

    <center><h4>Please, fill the form so everyone can enjoy it ;)</h4></center>
    <center><form action='/gossips/new/' method='POST'> <!--équivalent du gets.chomp en ruby-->
      Tell us your name:  <input type='text' name='gossip_author'/>
      <% 2.times do %><br/><% end %>
      Your Gossip: <input type='text' name='gossip_content'/>
      <% 3.times do %><br/><% end %>
      <input type="submit" style="background-color: #FD6C9E; color: white; width: 200px; height: 40px; border: none;"/>
    </form></center>
  
  </body>
</html>