<html>
  <head>
    <title>Afficher un potin précis</title>
  </head>
  
  <body>
    
    <h1>Gossip autor n°<%= gossip[0] %> : <%= gossip[2] %></h1>
    
    <h2><%= gossip[1] %></h2>
    <a href="/gossips/new/">Send us a Gossip</a>
    <br>
    <a href="/">Come back Home</a>
  
    </body>
</html>